@font-face {
    font-family: "VarelaRound";
    src: url('./VarelaRound.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: "VarelaRound";
}

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: black;
    color: white;
    width: 360px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 40px;
}

.main .heading {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* align-items: center;      */
    justify-content: flex-end;
}

.logo img {
    height: 150px;
}

.slogan {
    font-size: 17px;
    padding-top: 40px;
}

.sign-in-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #eeeeeecc;
    padding: 10px;
    /* border: 2px white solid; */
    border-radius: 100px;
    position: absolute;
    bottom: 100px;
    cursor: pointer;
}

.google-logo {
    height: 26px;
}

.google-logo img {
    height: 26px;
}

.google-text {
    font-size: 20px;
    color: black;
    display: flex;
    font-weight: bold;
}

.two {
    gap: 20px;
}

.pfp img {
    height: 80px;
    border-radius: 50%;
}

.welcome-user {
    font-size: 24px;
}

.get-started-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgb(52, 52, 52);
    padding: 15px;
    border: 2px #eeeeeecc solid;
    border-radius: 100px;
    position: absolute;
    bottom: 100px;
    cursor: pointer;
}







/* .one,
.two {
    display: none;
} */









.three .heading {
    font-size: 40px;
    padding-bottom: 30px;
}

.routine-section {
    display: flex;  
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
}

.three .routine-name {
    font-size: 30px;
    border: 2px white solid;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add-routine-btn button{
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

input {
    all: unset;
}

.routine-name-input {
    border: 2px white solid;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 30px;
}

.exercises {
    display: flex;  
    flex-direction: column;
    width: 240px;
    align-items: center;
}

.exercises-name-input {
    border-bottom: 2px solid white;
}

.details {
    display: flex;
    justify-content: center;    
    margin-top: 10px;
    gap: 15px;
}

.details > input {
    width: 50px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 4px;
}

.exercises select {
    all: unset;
    width: 180px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 4px;
    margin-top: 10px;
    text-align: center;
}

.exercises select option{
    all: unset;
    background-color: white;
    color: black;
}

.plus-btn {
    height: 30px;
    padding-top: 20px;
    cursor: pointer;
}

.plus-btn img {
    height: 30px;
}

.done-btn {
    position: absolute;
    bottom: 100px;
}

.done-btn button {
    font-size: 20px;
    padding: 10px;
    border-radius: 50px;
    background-color: gray;
    color: white;
    cursor: pointer;
    border: 2px white solid;
}

.five .workout-name {
    font-size: 30px;
    margin-bottom: 25px;
    border-bottom: 2px solid white;
}

.exercises {
    gap: 25px;
}

.exercise-box {
    display: flex;  
    flex-direction: column;
    font-size: 20px;
    align-items: center;    
    justify-content: center;
    gap: 10px;
}

.details-section {
    display: flex;
    gap: 20px;
    font-size: 15px;
}

.workout-done-btn {
    cursor: pointer;
    font-size: 25px;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    margin-top: 30px;
}









#calendar {
    height: 460px;
}












.hide {
    display: none;
}